version: '3'
services:
  frontend:
    build:
      context: .
      dockerfile: dockerfile-frontend
    ports:
      - "3020:3020"
    depends_on:
      - backend
    stdin_open: true
    tty: true

  backend:
    build:
      context: .
      dockerfile: server/dockerfile-backend
    ports:
      - "3021:3021"
    environment:
      PGSSL: disabled
      PGDATABASE: dfac
      PGUSER: postgres
      PGPASSWORD: admin
      PGHOST: db
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: dfac
    ports:
      - "5432:5432"

volumes:
  pgdata:
