.hints {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.hints--pattern {
  border: 1px solid black;
  padding: 20px;
  cursor: pointer;
}

.hints--matches {
  border: 1px solid black;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.hints--matches--entries {
  overflow-y: auto;
  flex: 1;
  min-height: 0;
}

.hints--matches--entry {
  padding: 10px;
}

.hints--matches--entry:nth-child(odd) {
  background-color: var(--main-gray-2);
  color: #000;
}

.hints--matches--entry:nth-child(even) {
  background-color: #fff;
  color: #333;
}
