.grid {
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0 auto;
}

.grid--cell {
  position: relative;
  padding: 0px;
  margin: 0px;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  overflow: hidden; /* Prevent cell content from overlapping borders */
  aspect-ratio: 1; /* Ensure cells stay square */
}
